* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: grey;
  background-size: cover;
  color: whitesmoke;
  font-size: 20px;
}
.name-wrapper {
  border-radius: 0px;
  background: rgb(71, 71, 71);
  padding: 20px;
  width: 100%;
  height: 100%;
}

.end {
  border-radius: 0px;
  background: rgb(71, 71, 71);
  padding: 20px;
  width: 100%;
  height: 100%;
}

img {
  border-radius: 100%;
}

h1 {
  text-align: center;
}
h1 span {
  background-color: orange;
  color: black;
  visibility: 50%;
  font-size: 40px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
  color: black;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}
.content-image {
  width: 30px;
  height: 30px;
  position: relative;
}
